doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel="stylesheet", href="./stylesheets/materialize.min.css")
  body
    h1.center Système Expert en polygone
    block content
  script(src="./javascripts/jquery.min.js")
  script(src="./javascripts/materialize.min.js")
  script(src="./javascripts/main.js")
